<!doctype html>
<html lang="en">

<head>
</head>

<body>
<!-- header -->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/home">
                <i class="fas fa-graduation-cap"></i>
                Fon ClassRoom Booking
            </a>
            <!-- Add your menu items and logic here -->
        </nav>
    </div>
</header>
<!-- //header -->
</body>

</html>