<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FON ClassRoom Booking System</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/css/style-starter.css">
</head>

<body>

<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="/home" class="navbar-brand">
                <i class="fas fa-graduation-cap"></i>
                Fon ClassRoom Booking
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link {{#isHome}}active{{/isHome}}" href="/home" aria-current="page">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#isClassRooms}}active{{/isClassRooms}}" href="/classRooms">ClassRooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#isCreateClassRoom}}active{{/isCreateClassRoom}}" href="/createClassRoom">Create ClassRoom</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#isReservations}}active{{/isReservations}}" href="/reservations">Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#isUser}}active{{/isUser}}" href="/user">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#isCreateUser}}active{{/isCreateUser}}" href="/createUser">Create User</a>
                    </li>
                </ul>
            </div>

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>

<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-1">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Create New User</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Create User</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<!--    <p th:text="${create}"></p>-->
<!-- contact block -->
<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-1">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Create New User</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="/home">Home</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Create User</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<!--    <p>{{create}}</p>-->
<!-- contact block -->
<section class="w3l-contact py-5" id="contact">
    <div class="container py-md-5 py-4">
        <div class="row contact-block">
            <div class="col-md-8 login-center">
                <form action="/updateUser" method="POST" class="signin-form">
                    <div class="input-grids">
                        <ul>
                            <li class="alert alert-success" role="alert" {{#successMessage}} {{/successMessage}}>
                                {{successMessage}}
                            </li>
                            <li class="alert alert-danger" role="alert" {{#errorMessage}} {{/errorMessage}}>
                                {{errorMessage}}
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>First Name</label>
                                <input type="text" value="{{firstName}}" name="firstName" required="true" class="contact-input" />
                            </div>
                            <div class="col-sm-6">
                                <label>Last Name</label>
                                <input type="text" value="{{lastName}}" name="lastName" id="lastName" required="true" class="contact-input" />
                            </div>
                        </div>
                        <label>Email</label>
                        <input type="text" value="{{email}}" name="email" id="email" required="true" class="contact-input" />

                        <div class="row">
                            <div class="col-sm-6">
                                <label>Telephone</label>
                                <input type="text" value="{{telephone}}" name="telephone" id="telephone" required="true" class="contact-input" />
                            </div>
                        </div>
                        <label>Username</label>
                        <input type="text" value="{{userName}}" name="userName" id="userName" class="contact-input" />
                        <label>Password</label>
                        <input type="password" value="{{password}}" name="password" id="password" required="true" class="contact-input" />
                        <label>Confirm Password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" required="true" class="contact-input" />
                        <!--                            <input type="text" name="role" id="role" placeholder="Role" class="contact-input" />-->
                    </div>

                    <div class="text-start">
                        <button type="submit" class="btn btn-style btn-style-3">Edit Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- //contact block -->

<footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
            <div class="row footer-top-29">
                <div class="col-lg-4 col-md-4 footer-list-29">
                    <h6 class="footer-title-29">Contact Info</h6>
                    <p class="mb-2 pe-xl-5">Address: Jove Ilića 154, Beograd 11000.</p>
                    <p class="mb-2">Phone Number: <a href="tel:+381 11 3950 800">+381 11 3950 800</a></p>
                </div>
                <div class="col-lg-4 col-md-4 footer-list-29">
                    <h6 class="footer-title-29">Quick Links</h6>
                    <ul>
                        <li><a href="/home">Dashboard</a></li>
                        <li><a href="/classRooms">ClassRooms</a></li>
                        <li><a href="/reservations">Reservations</a></li>
                        <li><a href="/users">Users</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-3 col-4 mt-1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2832.3730292186438!2d20.4753475!3d44.7731999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a70576248bf79%3A0xadaf5cff042d3bd0!2sFaculty%20of%20Organizational%20Sciences!5e0!3m2!1sen!2srs!4v1658571902289!5m2!1sen!2srs"
                            width="350" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <p class="copy-footer-29 text-center pt-lg-2 mt-5 pb-2">
                © 2022 FON Booking ClassRoom System. All rights reserved. Design by Aleksandar Janković using <a href="https://w3layouts.com/" target="_blank">W3Layouts</a>
            </p>
        </div>
    </div>
</footer>

<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!-- MENU-JS -->
<script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
<!--
